apiVersion: batch.tutorial.kubebuilder.io/v1
kind: CronJob
metadata:
  labels:
    app.kubernetes.io/name: cronjob-controller
    app.kubernetes.io/managed-by: kustomize
  name: cronjob-sample
spec:
  schedule: "31 9 * * *"
  startingDeadlineSeconds: 60
  concurrencyPolicy: Forbid
  timeZone: ETC/UTC
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: hello
              image: busybox
              imagePullPolicy: IfNotPresent
              args:
                - /bin/sh
                - -c
                - date; echo Hello from the Kubernetes cluster
          restartPolicy: OnFailure
